body{
    font-family: Mont;
    margin:20px;
}

.heading{
    margin-bottom: 30px;
}

#tokenname{
    margin-right:20px
}

.btn-success{
    margin-left: 20px
}

.symbolHeading{
margin-left: 145px;
}

.card{
    box-shadow: 5px 5px 3px grey;
    border:solid grey 1px;
    margin-top: 20px;
    height: 100px;
    width:fit-content
}